rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /echipe_de_fotbal/{document=**} {
      //allow read, write;

      allow create: if request.auth != null;

      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}